<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.uji.al341520.InfinityRunner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    <activity android:name="es.uji.al341520.InfinityRunner.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="es.uji.al341520.InfinityRunner.testFramework.TestFramework"/>
        <activity android:name="es.uji.al341520.InfinityRunner.testParallax.TestParallax"/>
        <activity android:name="es.uji.al341520.InfinityRunner.testCharacter.TestCharacter"/>
        <activity android:name="es.uji.al341520.InfinityRunner.testObstacles.TestObstacles"/>
        <activity android:name="es.uji.al341520.InfinityRunner.testLevelsHUD.TestLevelsHud"/>
        <activity android:name="es.uji.al341520.InfinityRunner.InfinityRunner.InfinityRunner"/>



    </application>

</manifest>